In [94]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
df = pd.read_csv('preprocessed_and_featured_data.csv')

In [96]:
df.head()

,area_type,bath,balcony,price,bhk,has_society,society_freq,availability_group,location_grouped,location_target_enc,total_sqft
0,Super built-up Area,2.00,1.00,39.07,2.00,1,5.00,Q4 Possession,electronic city phase ii,48.68,1056.00
1,Plot Area,5.00,3.00,120.00,4.00,1,12.00,Ready To Move,Other,114.70,2600.00
2,Built-up Area,2.00,3.00,62.00,3.00,0,0.00,Ready To Move,uttarahalli,63.27,1440.00
3,Super built-up Area,3.00,1.00,95.00,3.00,1,22.00,Ready To Move,lingadheeranahalli,115.35,1521.00
4,Super built-up Area,2.00,1.00,51.00,2.00,0,0.00,Ready To Move,kothanur,95.79,1200.00

In [97]:
df.shape[1]

11

In [98]:
df['bath'].describe()

count   12766.00
mean        2.71
std         1.36
min         1.00
25%         2.00
50%         2.00
75%         3.00
max        40.00
Name: bath, dtype: float64

In [99]:
bath_quantiles = df['bath'].quantile([0.25, 0.50, 0.75, 0.90, 0.95, 0.99, 0.999, 0.9999])
bath_quantiles

0.25    2.00
0.50    2.00
0.75    3.00
0.90    4.00
0.95    5.00
0.99    8.00
1.00   12.00
1.00   24.51
Name: bath, dtype: float64

In [100]:
## Handling outliers in bathrooms
df['bath'] = df.apply( lambda row: min(row['bath'], row['bhk']) if row['bath'] > 8 else row['bath'], axis=1 )

In [101]:
df['bath'].describe()

count   12766.00
mean        2.71
std         1.33
min         1.00
25%         2.00
50%         2.00
75%         3.00
max        40.00
Name: bath, dtype: float64

In [102]:
df['balcony'].describe()

count   12766.00
mean        1.60
std         0.81
min         0.00
25%         1.00
50%         2.00
75%         2.00
max         3.00
Name: balcony, dtype: float64

In [103]:
df['bhk'].describe()

count   12766.00
mean        2.82
std         1.31
min         1.00
25%         2.00
50%         3.00
75%         3.00
max        43.00
Name: bhk, dtype: float64

In [104]:
df['bhk'].quantile(0.999)

np.float64(10.0)

In [105]:
df = df[df['bhk'] <= 20]

In [106]:
df.shape

(12764, 11)

In [107]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [108]:
df['total_sqft'].describe()

count     12764.00
mean       1718.66
std       11561.81
min           1.00
25%        1100.00
50%        1281.50
75%        1691.05
max     1123031.25
Name: total_sqft, dtype: float64

In [109]:
df['total_sqft'].quantile([0.05,0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99, 0.999, 0.9999])

0.05      665.15
0.10      900.00
0.25     1100.00
0.50     1281.50
0.75     1691.05
0.90     2461.70
0.95     3301.53
0.99     5244.80
1.00    17203.61
1.00   487308.33
Name: total_sqft, dtype: float64

In [110]:
df[df['total_sqft'] > 20000]

,area_type,bath,balcony,price,bhk,has_society,society_freq,availability_group,location_grouped,location_target_enc,total_sqft
647,Built-up Area,9.00,2.00,265.00,9.00,0,0.00,Ready To Move,Other,106.32,1123031.25
673,Built-up Area,3.00,3.00,130.00,3.00,1,3.00,Ready To Move,yelahanka,86.26,35000.00
1880,Plot Area,2.00,1.00,140.00,3.00,0,0.00,Ready To Move,Other,65.69,52272.00
2596,Plot Area,4.00,2.00,2100.00,4.00,0,0.00,Q3 Possession,Other,538.20,30000.00
3185,Built-up Area,5.00,1.00,140.00,5.00,0,0.00,Ready To Move,Other,86.67,32722.26
5295,Super built-up Area,8.00,3.00,175.00,9.00,0,0.00,Ready To Move,Other,128.86,42000.00
5367,Super built-up Area,4.00,2.00,450.00,4.00,1,1.00,Ready To Move,ulsoor,237.24,36000.00
6396,Plot Area,6.00,2.00,550.00,5.00,0,0.00,Ready To Move,Other,550.00,26136.00
6830,Plot Area,6.00,2.00,290.00,8.00,0,0.00,Ready To Move,Other,139.02,653400.00
7067,Plot Area,1.00,0.00,150.00,1.00,0,0.00,Ready To Move,yelahanka,86.26,26136.00
10908,Plot Area,1.00,0.00,170.00,1.00,0,0.00,Ready To Move,Other,153.33,41382.00
12460,Plot Area,4.00,2.00,1824.00,6.00,0,0.00,Ready To Move,Other,538.20,30400.00

In [116]:
df = df[df['total_sqft'] <= 20000]

In [117]:
df.shape

(12752, 11)

In [118]:
df.to_csv('outliers_removed_dataset.csv', index = False)